{% extends '../layouts/pages.twig' %} {% block pageContent %}
<div class="contactDescription">
  <h2 class="serifFont blockTitle" id="about">About us</h2>
  <div id="lipsum">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu augue
      libero. Phasellus suscipit ligula libero, ut varius turpis rhoncus nec.
      Donec blandit tellus risus, et dictum neque dignissim sed. Sed aliquet
      felis quis maximus pulvinar. Aenean at iaculis lacus, id laoreet ligula.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Aliquam commodo, augue sed eleifend vulputate, ex mi
      sagittis magna, quis placerat enim sem quis tellus. Fusce porta
      pellentesque nisl, sed tristique sapien congue sit amet.
    </p>
    <p>
      Donec luctus dui erat, eget pretium metus laoreet et. In dictum fringilla
      maximus. Cras cursus nisl in scelerisque ultricies. Pellentesque efficitur
      facilisis est, eu egestas orci sollicitudin in. Aenean efficitur nibh nec
      iaculis facilisis. Nulla facilisi. Pellentesque a ullamcorper erat.
    </p>
    <p>
      Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
      Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit
      amet sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi
      pharetra efficitur ex sed viverra. Sed velit purus, mattis quis sodales
      eget, volutpat at lacus. Nam eget sollicitudin quam.
    </p>
    <p>
      Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
      malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
      ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis
      eget lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut
      consequat ante ut velit iaculis condimentum.
    </p>
    <p>
      Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
      ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
      condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
      volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et
      velit. Cras at massa vel mauris consequat scelerisque. Praesent maximus
      imperdiet volutpat. In hac habitasse platea dictumst.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu augue
      libero. Phasellus suscipit ligula libero, ut varius turpis rhoncus nec.
      Donec blandit tellus risus, et dictum neque dignissim sed. Sed aliquet
      felis quis maximus pulvinar. Aenean at iaculis lacus, id laoreet ligula.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Aliquam commodo, augue sed eleifend vulputate, ex mi
      sagittis magna, quis placerat enim sem quis tellus. Fusce porta
      pellentesque nisl, sed tristique sapien congue sit amet.
    </p>
    <p>
      Donec luctus dui erat, eget pretium metus laoreet et. In dictum fringilla
      maximus. Cras cursus nisl in scelerisque ultricies. Pellentesque efficitur
      facilisis est, eu egestas orci sollicitudin in. Aenean efficitur nibh nec
      iaculis facilisis. Nulla facilisi. Pellentesque a ullamcorper erat.
    </p>
    <p>
      Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
      Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit
      amet sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi
      pharetra efficitur ex sed viverra. Sed velit purus, mattis quis sodales
      eget, volutpat at lacus. Nam eget sollicitudin quam.
    </p>
    <p>
      Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
      malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
      ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis
      eget lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut
      consequat ante ut velit iaculis condimentum.
    </p>
    <p>
      Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
      ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
      condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
      volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et
      velit. Cras at massa vel mauris consequat scelerisque. Praesent maximus
      imperdiet volutpat. In hac habitasse platea dictumst.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu augue
      libero. Phasellus suscipit ligula libero, ut varius turpis rhoncus nec.
      Donec blandit tellus risus, et dictum neque dignissim sed. Sed aliquet
      felis quis maximus pulvinar. Aenean at iaculis lacus, id laoreet ligula.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Aliquam commodo, augue sed eleifend vulputate, ex mi
      sagittis magna, quis placerat enim sem quis tellus. Fusce porta
      pellentesque nisl, sed tristique sapien congue sit amet.
    </p>
    <p>
      Donec luctus dui erat, eget pretium metus laoreet et. In dictum fringilla
      maximus. Cras cursus nisl in scelerisque ultricies. Pellentesque efficitur
      facilisis est, eu egestas orci sollicitudin in. Aenean efficitur nibh nec
      iaculis facilisis. Nulla facilisi. Pellentesque a ullamcorper erat.
    </p>
    <p>
      Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
      Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit
      amet sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi
      pharetra efficitur ex sed viverra. Sed velit purus, mattis quis sodales
      eget, volutpat at lacus. Nam eget sollicitudin quam.
    </p>
    <p>
      Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
      malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
      ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis
      eget lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut
      consequat ante ut velit iaculis condimentum.
    </p>
    <p>
      Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
      ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
      condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
      volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et
      velit. Cras at massa vel mauris consequat scelerisque. Praesent maximus
      imperdiet volutpat. In hac habitasse platea dictumst.
    </p>
  </div>
  <h2 class="serifFont blockTitle" id="careers">Careers</h2>
  <div id="lipsum">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu augue
      libero. Phasellus suscipit ligula libero, ut varius turpis rhoncus nec.
      Donec blandit tellus risus, et dictum neque dignissim sed. Sed aliquet
      felis quis maximus pulvinar. Aenean at iaculis lacus, id laoreet ligula.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Aliquam commodo, augue sed eleifend vulputate, ex mi
      sagittis magna, quis placerat enim sem quis tellus. Fusce porta
      pellentesque nisl, sed tristique sapien congue sit amet.
    </p>
    <p>
      Donec luctus dui erat, eget pretium metus laoreet et. In dictum fringilla
      maximus. Cras cursus nisl in scelerisque ultricies. Pellentesque efficitur
      facilisis est, eu egestas orci sollicitudin in. Aenean efficitur nibh nec
      iaculis facilisis. Nulla facilisi. Pellentesque a ullamcorper erat.
    </p>
    <p>
      Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
      Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit
      amet sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi
      pharetra efficitur ex sed viverra. Sed velit purus, mattis quis sodales
      eget, volutpat at lacus. Nam eget sollicitudin quam.
    </p>
    <p>
      Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
      malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
      ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis
      eget lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut
      consequat ante ut velit iaculis condimentum.
    </p>
    <p>
      Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
      ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
      condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
      volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et
      velit. Cras at massa vel mauris consequat scelerisque. Praesent maximus
      imperdiet volutpat. In hac habitasse platea dictumst.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu augue
      libero. Phasellus suscipit ligula libero, ut varius turpis rhoncus nec.
      Donec blandit tellus risus, et dictum neque dignissim sed. Sed aliquet
      felis quis maximus pulvinar. Aenean at iaculis lacus, id laoreet ligula.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Aliquam commodo, augue sed eleifend vulputate, ex mi
      sagittis magna, quis placerat enim sem quis tellus. Fusce porta
      pellentesque nisl, sed tristique sapien congue sit amet.
    </p>
    <p>
      Donec luctus dui erat, eget pretium metus laoreet et. In dictum fringilla
      maximus. Cras cursus nisl in scelerisque ultricies. Pellentesque efficitur
      facilisis est, eu egestas orci sollicitudin in. Aenean efficitur nibh nec
      iaculis facilisis. Nulla facilisi. Pellentesque a ullamcorper erat.
    </p>
    <p>
      Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
      Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit
      amet sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi
      pharetra efficitur ex sed viverra. Sed velit purus, mattis quis sodales
      eget, volutpat at lacus. Nam eget sollicitudin quam.
    </p>
    <p>
      Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
      malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
      ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis
      eget lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut
      consequat ante ut velit iaculis condimentum.
    </p>
    <p>
      Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
      ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
      condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
      volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et
      velit. Cras at massa vel mauris consequat scelerisque. Praesent maximus
      imperdiet volutpat. In hac habitasse platea dictumst.
    </p>
    <p>
      Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
      Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit
      amet sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi
      pharetra efficitur ex sed viverra. Sed velit purus, mattis quis sodales
      eget, volutpat at lacus. Nam eget sollicitudin quam.
    </p>
    <p>
      Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
      malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
      ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis
      eget lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut
      consequat ante ut velit iaculis condimentum.
    </p>
    <p>
      Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
      ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
      condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
      volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et
      velit. Cras at massa vel mauris consequat scelerisque. Praesent maximus
      imperdiet volutpat. In hac habitasse platea dictumst.
    </p>
  </div>
  <h2 class="serifFont blockTitle" id="contact">Contact</h2>
  <p>
    Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
    Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit amet
    sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi pharetra
    efficitur ex sed viverra. Sed velit purus, mattis quis sodales eget,
    volutpat at lacus. Nam eget sollicitudin quam.
  </p>
  <p>
    Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
    malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
    ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis eget
    lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut consequat
    ante ut velit iaculis condimentum.
  </p>
  <p>
    Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
    ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
    condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
    volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et velit.
    Cras at massa vel mauris consequat scelerisque. Praesent maximus imperdiet
    volutpat. In hac habitasse platea dictumst.
  </p>
  <p>
    Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
    Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit amet
    sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi pharetra
    efficitur ex sed viverra. Sed velit purus, mattis quis sodales eget,
    volutpat at lacus. Nam eget sollicitudin quam.
  </p>
  <p>
    Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
    malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
    ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis eget
    lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut consequat
    ante ut velit iaculis condimentum.
  </p>
  <p>
    Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
    ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
    condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
    volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et velit.
    Cras at massa vel mauris consequat scelerisque. Praesent maximus imperdiet
    volutpat. In hac habitasse platea dictumst.
  </p>
  <div data-id="contact" class="container">
    <div>
      <h3>/ Contact Us</h3>
      <p>For general inquiries send us a message.</p>
      <div id="sendMessageSection"></div>
    </div>
    <div>
      <h3>/ Customer Concerns</h3>
      <p>
        At Tyrell, we are committed to providing exceptional service. Your
        satisfaction is our top priority. If you have any concerns, please
        contact us.
      </p>
      <div id="sendConcernSection"></div>
    </div>
    <script>
      (function() {
        Reva.ui.createSimpleContactUsDialog('#sendMessageSection', {
          onSubmitClick: function onEventRaised(evt) {
            console.log(">>>> event raised", evt);
          },
          targetsByDepartment: {
            'Investors Relations': {
              to: 'support@reva.tech',
              subject: 'tyrellapartments.com Investors Relations Inquiry',
            },
            'Media Contact': {
              to: 'support@reva.tech',
              subject: 'tyrellapartments.com Media Contact Inquiry',
            },
            'Shareholder Services': {
              to: 'support@reva.tech',
              subject: 'tyrellapartments.com Shareholder Services Inquiry',
            },
            'General Inquiries': {
              to: 'support@reva.tech',
              subject: 'tyrellapartments.com General Inquiry',
            },
            'Acquisitions or Dispositions': {
              to: 'support@reva.tech',
              subject: 'tyrellapartments.com Acquisition Inquiry',
            },
          }
        });

        Reva.ui.createSimpleCustomerConcernDialog('#sendConcernSection', {
          onSubmitClick: function onEventRaised(evt) {
            console.log(">>>> event raised", evt);
          },
          targetsByCommunity: {
            'support+c1@reva.tech': ['Commons & Landing at Southgate', 'South Pointe', 'Plaza', 'Chateau', 'Dylan RiNo Apartments', 'Westend', 'Lugano at Cherry Creek'],
            'support+c2@reva.tech': ['Cimarron Hills', 'Greenfield', 'Whispering Ridge', 'Colony Apartments', 'Lakeside Village', 'Thomasbrook'],
            'support+c3@reva.tech': [
              'Cottage West',
              'Gables',
              'Oakmont Estates',
              'Oakwood Estates',
              'Oxbow Park',
              'Prairie Winds',
              'Sierra Vista',
              'Arbors',
              'Indian Hills',
              'Ridge Oaks',
            ],
            'support+c4@reva.tech': [
              'Alps Park',
              'Canyon Lake Apartments',
              'Homestead Garden',
              'Pointe West Apartments',
              'Silver Springs',
              'Castlerock Apartment Homes',
              'Country Meadows',
              'Olympic Village',
              'Pinehurst',
              'Rimrock West',
              'Rocky Meadows',
            ],
            'support+c5@reva.tech': [
              'Ashland',
              'Cardinal Point',
              'Forest Park',
              'The Gardens',
              'Landmark Estate Apartments',
              'Legacy',
              'Southpoint',
              'Southwind',
              'Valley Park Apartments',
            ],
            'support+c6@reva.tech': [
              'Deer Ridge',
              'The Meadows',
              'Cottonwood',
              'Crestview Apartments',
              'Kirkwood Apartments',
              'Kirkwood Manor', // Apartments & Manor are the same property, currently we have Kirkwood Apartments
              'Legacy Heights',
              'North Pointe',
              'Northridge',
              'Pebble Springs',
              'River Ridge',
              'Westwood Park',
            ],
            'support+c7@reva.tech': [
              'Cypress Court',
              'Grand Gateway',
              'Monticello Crossings',
              'Monticello Village',
              'Park Meadows',
              'Ponds at Heritage Place',
              'Regency Park Estates',
              'West Stonehill',
            ],
            'support+c8@reva.tech': [
              'Avalon Cove',
              'Cascade Shores',
              'Crystal Bay',
              'French Creek',
              'GrandeVille at Cascade Lake',
              'Heritage Manor',
              'Olympik Village',
              'Quarry Ridge',
              'Sunset Trail',
              'Village Green',
              'Winchester',
              'Woodridge',
            ],
            'support+c9@reva.tech': ['Brookfield Village', 'Crown Colony', 'Mariposa Townhomes', 'Sherwood', 'Villa West'],
            'support+c10@reva.tech': ['71 France', 'Arcata', 'Boulder Court', 'Colonial Villa', 'Evergreen', 'Red 20', 'Southfork', 'Rum River', 'Freightyard Townhomes'],
            'support+c11@reva.tech': ['Park Place'],
          }
        });
      }());
    </script>
  </div>
</div>
{% endblock %}