{% extends '../layouts/base.twig' %}
{% block title %}Property {{ slug }}{% endblock %}
{% block content %}
  <h1>Widget playground</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus
      sapien, gravida id ullamcorper et, pharetra ac erat. Morbi tristique ac nisl
      nec semper. Ut rhoncus massa eget elit laoreet pretium. Nam et lectus euismod,
      blandit augue id, malesuada mi. Donec non turpis eget nisl lacinia ornare ut
      quis justo. Fusce gravida velit lectus, in tincidunt nulla hendrerit vitae.
      Maecenas eleifend felis justo, non iaculis urna porttitor non. Ut a lectus nec
      nibh gravida sagittis sed vehicula justo. Etiam sed nisl a arcu tempor euismod
      ut non arcu. Donec eros elit, elementum at nulla eget, accumsan fringilla
      metus.
  </p>
  <p>
    Fusce et lorem justo. Sed at venenatis quam, non blandit tortor. Suspendisse
      condimentum aliquet mattis. Suspendisse sed arcu odio. Curabitur eu vulputate
      neque. Nunc nec dui eu neque finibus accumsan et ut elit. Nunc sapien felis,
      mollis at consectetur vel, feugiat sit amet ligula. Donec nec tincidunt nulla.
  </p>
  <p>
    Donec consectetur volutpat purus quis imperdiet. Orci varius natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Nunc tempus rhoncus
      libero, sit amet fringilla lorem congue eget. Proin tristique sapien mattis,
      commodo ante sed, dictum ex. Curabitur suscipit nisl aliquet mauris semper, ut
      consectetur mi fermentum. Aliquam diam lorem, laoreet a sem sit amet, finibus
      ultricies lectus. Maecenas neque enim, efficitur id auctor a, auctor sed
      justo. Suspendisse consectetur justo in fringilla luctus. Nulla nibh lacus,
      ultricies venenatis cursus ac, tristique nec mauris. Morbi rutrum aliquam
      purus. Duis vulputate tortor sed ipsum ultricies commodo.
  </p>
  <p>
    Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Nunc facilisis, dolor luctus egestas mattis,
      tortor leo vehicula turpis, sed convallis nibh ex eget sem. Nunc pulvinar nisl
      metus. Duis interdum risus eget cursus consequat. Pellentesque sit amet ipsum
      nulla. Vestibulum mi turpis, tempus et varius quis, tincidunt ut metus. Sed in
      efficitur sapien, ac lobortis est. Cras sapien elit, blandit eget tincidunt
      non, lacinia imperdiet libero. Cras egestas libero est, nec condimentum neque
      iaculis ut. Aenean cursus malesuada venenatis. Etiam quis justo eu diam
      gravida consequat id a lorem. Vivamus commodo, lorem malesuada sollicitudin
      dictum, augue erat posuere ex, eu tristique mauris orci id ligula. Donec
      pellentesque purus orci, non vulputate ex ultrices nec.
  </p>
  <p>
    Donec id tellus tempor, consectetur dui a, aliquet velit. Vivamus tincidunt ac
      lacus non lacinia. Integer rutrum iaculis pharetra. Aenean dignissim vel massa
      et iaculis. Fusce laoreet faucibus porta. Maecenas at tempor leo. Duis auctor
      elit nibh, ac mattis quam tempor a. Donec pretium, lectus mattis lobortis
      vehicula, nulla metus luctus lectus, quis bibendum leo mi vitae nibh. Sed elit
      odio, venenatis non diam eget, auctor tempor massa. Fusce convallis porttitor
      justo, nec convallis enim pretium quis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus
      sapien, gravida id ullamcorper et, pharetra ac erat. Morbi tristique ac nisl
      nec semper. Ut rhoncus massa eget elit laoreet pretium. Nam et lectus euismod,
      blandit augue id, malesuada mi. Donec non turpis eget nisl lacinia ornare ut
      quis justo. Fusce gravida velit lectus, in tincidunt nulla hendrerit vitae.
      Maecenas eleifend felis justo, non iaculis urna porttitor non. Ut a lectus nec
      nibh gravida sagittis sed vehicula justo. Etiam sed nisl a arcu tempor euismod
      ut non arcu. Donec eros elit, elementum at nulla eget, accumsan fringilla
      metus.
  </p>
  <p>
    Fusce et lorem justo. Sed at venenatis quam, non blandit tortor. Suspendisse
      condimentum aliquet mattis. Suspendisse sed arcu odio. Curabitur eu vulputate
      neque. Nunc nec dui eu neque finibus accumsan et ut elit. Nunc sapien felis,
      mollis at consectetur vel, feugiat sit amet ligula. Donec nec tincidunt nulla.
  </p>
  <p>
    Donec consectetur volutpat purus quis imperdiet. Orci varius natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Nunc tempus rhoncus
      libero, sit amet fringilla lorem congue eget. Proin tristique sapien mattis,
      commodo ante sed, dictum ex. Curabitur suscipit nisl aliquet mauris semper, ut
      consectetur mi fermentum. Aliquam diam lorem, laoreet a sem sit amet, finibus
      ultricies lectus. Maecenas neque enim, efficitur id auctor a, auctor sed
      justo. Suspendisse consectetur justo in fringilla luctus. Nulla nibh lacus,
      ultricies venenatis cursus ac, tristique nec mauris. Morbi rutrum aliquam
      purus. Duis vulputate tortor sed ipsum ultricies commodo.
  </p>
  <p>
    Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Nunc facilisis, dolor luctus egestas mattis,
      tortor leo vehicula turpis, sed convallis nibh ex eget sem. Nunc pulvinar nisl
      metus. Duis interdum risus eget cursus consequat. Pellentesque sit amet ipsum
      nulla. Vestibulum mi turpis, tempus et varius quis, tincidunt ut metus. Sed in
      efficitur sapien, ac lobortis est. Cras sapien elit, blandit eget tincidunt
      non, lacinia imperdiet libero. Cras egestas libero est, nec condimentum neque
      iaculis ut. Aenean cursus malesuada venenatis. Etiam quis justo eu diam
      gravida consequat id a lorem. Vivamus commodo, lorem malesuada sollicitudin
      dictum, augue erat posuere ex, eu tristique mauris orci id ligula. Donec
      pellentesque purus orci, non vulputate ex ultrices nec.
  </p>
  <p>
    Donec id tellus tempor, consectetur dui a, aliquet velit. Vivamus tincidunt ac
      lacus non lacinia. Integer rutrum iaculis pharetra. Aenean dignissim vel massa
      et iaculis. Fusce laoreet faucibus porta. Maecenas at tempor leo. Duis auctor
      elit nibh, ac mattis quam tempor a. Donec pretium, lectus mattis lobortis
      vehicula, nulla metus luctus lectus, quis bibendum leo mi vitae nibh. Sed elit
      odio, venenatis non diam eget, auctor tempor massa. Fusce convallis porttitor
      justo, nec convallis enim pretium quis.
  </p>
  <div id="widget1"></div>

  <script type="text/javascript">
    (function () {
      var s = Reva.stores.getWebSiteStore();
      s.setCurrentPropertyId('d2714aba-53d4-4435-9930-36e677090de1');
      document.addEventListener("DOMContentLoaded", function () {
        Reva.ui.createBookerWidget("#widget1", {
          mode: "create",
          onEventRaised: function onEventRaised(evt) {
            if (evt.type === 'APPOINTMENT_CREATED') {
              dataLayer && dataLayer.push({
                'tourStatus': 'booked',
                'event': 'DLV - tourStatus'
              });
            }
          },
          onAppointmentSave: function onAppointmentSave(appointment) {
            var revaReplacerData = tryParse(localStorage['reva-replacer'], {});

            if (revaReplacerData.marketingSessionId) {
              appointment.marketingSessionId = revaReplacerData.marketingSessionId;
            }

            return Object.assign(appointment, {
              qualificationQuestions: {
                numBedrooms: [appointment.numBedrooms],
                moveInTime: appointment.moveInTime,
                // hardcoded values
                groupProfile: 'NOT_YET_DETERMINED',
                cashAvailable: 'UNKNOWN'
              }
            });
          },
          dynamicFields: [
            {
              name: 'numBedrooms',
              value: undefined,
              required: '# of bedrooms is required',
              meta: {
                type: 'Dropdown',
                label: '# of Bedrooms',
                items: [
                  { id: 'ONE_BED', value: 'One bed' },
                  { id: 'TWO_BEDS', value: 'Two beds' },
                  { id: 'THREE_BEDS', value: 'Three beds' },
                ],
              },
            },
            {
              name: 'moveInTime',
              value: undefined,
              required: 'Move-in range is required',
              meta: {
                type: 'Dropdown',
                label: 'When do you plan to rent?',
                items: [
                  { id: 'NEXT_4_WEEKS', value: 'Next 4 weeks' },
                  { id: 'NEXT_2_MONTHS', value: 'Next 2 months' },
                  { id: 'NEXT_4_MONTHS', value: 'Next 4 months' },
                  { id: 'BEYOND_4_MONTHS', value: 'Beyond 4 months' },
                  { id: 'I_DONT_KNOW', value: "I don't know" },
                ],
              },
            },
          ]
        });
      });
    })();
  </script>
{% endblock %}