{% extends '../layouts/simple.twig' %} {% block title %}Widgets test page {% endblock %} {% block headStyles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<style type="text/css">
    html,
    html * {
        box-sizing: border-box;
    }
</style>
<script type="text/javascript" src="{{jsResource}}"></script>
{% endblock %} {% block content %}
<h1>Widget playground</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus sapien, gravida id ullamcorper et, pharetra ac erat. Morbi tristique ac nisl nec semper. Ut rhoncus massa eget elit laoreet pretium. Nam et lectus euismod, blandit augue id, malesuada
    mi. Donec non turpis eget nisl lacinia ornare ut quis justo. Fusce gravida velit lectus, in tincidunt nulla hendrerit vitae. Maecenas eleifend felis justo, non iaculis urna porttitor non. Ut a lectus nec nibh gravida sagittis sed vehicula justo. Etiam
    sed nisl a arcu tempor euismod ut non arcu. Donec eros elit, elementum at nulla eget, accumsan fringilla metus.
</p>
<p>
    Fusce et lorem justo. Sed at venenatis quam, non blandit tortor. Suspendisse condimentum aliquet mattis. Suspendisse sed arcu odio. Curabitur eu vulputate neque. Nunc nec dui eu neque finibus accumsan et ut elit. Nunc sapien felis, mollis at consectetur
    vel, feugiat sit amet ligula. Donec nec tincidunt nulla.
</p>
<p>
    Donec consectetur volutpat purus quis imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tempus rhoncus libero, sit amet fringilla lorem congue eget. Proin tristique sapien mattis, commodo ante sed,
    dictum ex. Curabitur suscipit nisl aliquet mauris semper, ut consectetur mi fermentum. Aliquam diam lorem, laoreet a sem sit amet, finibus ultricies lectus. Maecenas neque enim, efficitur id auctor a, auctor sed justo. Suspendisse consectetur justo
    in fringilla luctus. Nulla nibh lacus, ultricies venenatis cursus ac, tristique nec mauris. Morbi rutrum aliquam purus. Duis vulputate tortor sed ipsum ultricies commodo.
</p>
<p>
    Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc facilisis, dolor luctus egestas mattis, tortor leo vehicula turpis, sed convallis nibh ex eget sem. Nunc pulvinar nisl metus. Duis interdum
    risus eget cursus consequat. Pellentesque sit amet ipsum nulla. Vestibulum mi turpis, tempus et varius quis, tincidunt ut metus. Sed in efficitur sapien, ac lobortis est. Cras sapien elit, blandit eget tincidunt non, lacinia imperdiet libero. Cras
    egestas libero est, nec condimentum neque iaculis ut. Aenean cursus malesuada venenatis. Etiam quis justo eu diam gravida consequat id a lorem. Vivamus commodo, lorem malesuada sollicitudin dictum, augue erat posuere ex, eu tristique mauris orci id
    ligula. Donec pellentesque purus orci, non vulputate ex ultrices nec.
</p>
<p>
    Donec id tellus tempor, consectetur dui a, aliquet velit. Vivamus tincidunt ac lacus non lacinia. Integer rutrum iaculis pharetra. Aenean dignissim vel massa et iaculis. Fusce laoreet faucibus porta. Maecenas at tempor leo. Duis auctor elit nibh, ac mattis
    quam tempor a. Donec pretium, lectus mattis lobortis vehicula, nulla metus luctus lectus, quis bibendum leo mi vitae nibh. Sed elit odio, venenatis non diam eget, auctor tempor massa. Fusce convallis porttitor justo, nec convallis enim pretium quis.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus sapien, gravida id ullamcorper et, pharetra ac erat. Morbi tristique ac nisl nec semper. Ut rhoncus massa eget elit laoreet pretium. Nam et lectus euismod, blandit augue id, malesuada
    mi. Donec non turpis eget nisl lacinia ornare ut quis justo. Fusce gravida velit lectus, in tincidunt nulla hendrerit vitae. Maecenas eleifend felis justo, non iaculis urna porttitor non. Ut a lectus nec nibh gravida sagittis sed vehicula justo. Etiam
    sed nisl a arcu tempor euismod ut non arcu. Donec eros elit, elementum at nulla eget, accumsan fringilla metus.
</p>
<p>
    Fusce et lorem justo. Sed at venenatis quam, non blandit tortor. Suspendisse condimentum aliquet mattis. Suspendisse sed arcu odio. Curabitur eu vulputate neque. Nunc nec dui eu neque finibus accumsan et ut elit. Nunc sapien felis, mollis at consectetur
    vel, feugiat sit amet ligula. Donec nec tincidunt nulla.
</p>
<p>
    Donec consectetur volutpat purus quis imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tempus rhoncus libero, sit amet fringilla lorem congue eget. Proin tristique sapien mattis, commodo ante sed,
    dictum ex. Curabitur suscipit nisl aliquet mauris semper, ut consectetur mi fermentum. Aliquam diam lorem, laoreet a sem sit amet, finibus ultricies lectus. Maecenas neque enim, efficitur id auctor a, auctor sed justo. Suspendisse consectetur justo
    in fringilla luctus. Nulla nibh lacus, ultricies venenatis cursus ac, tristique nec mauris. Morbi rutrum aliquam purus. Duis vulputate tortor sed ipsum ultricies commodo.
</p>
<p>
    Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc facilisis, dolor luctus egestas mattis, tortor leo vehicula turpis, sed convallis nibh ex eget sem. Nunc pulvinar nisl metus. Duis interdum
    risus eget cursus consequat. Pellentesque sit amet ipsum nulla. Vestibulum mi turpis, tempus et varius quis, tincidunt ut metus. Sed in efficitur sapien, ac lobortis est. Cras sapien elit, blandit eget tincidunt non, lacinia imperdiet libero. Cras
    egestas libero est, nec condimentum neque iaculis ut. Aenean cursus malesuada venenatis. Etiam quis justo eu diam gravida consequat id a lorem. Vivamus commodo, lorem malesuada sollicitudin dictum, augue erat posuere ex, eu tristique mauris orci id
    ligula. Donec pellentesque purus orci, non vulputate ex ultrices nec.
</p>
<p>
    Donec id tellus tempor, consectetur dui a, aliquet velit. Vivamus tincidunt ac lacus non lacinia. Integer rutrum iaculis pharetra. Aenean dignissim vel massa et iaculis. Fusce laoreet faucibus porta. Maecenas at tempor leo. Duis auctor elit nibh, ac mattis
    quam tempor a. Donec pretium, lectus mattis lobortis vehicula, nulla metus luctus lectus, quis bibendum leo mi vitae nibh. Sed elit odio, venenatis non diam eget, auctor tempor massa. Fusce convallis porttitor justo, nec convallis enim pretium quis.
</p>
<div id="widget1"></div>
<div>
    <div>
        <h2>Generic apply form</h2>
        <button id="btn1">Show Form</button>
    </div>
    <div>
        <h2>Apply Form with extra info</h2>
        <label htmlfor="Unit">
        Unit:
        <input id="txtUnit" type="text"/>
      </label>
        <button id="btn2">Show Form</button>
    </div>
    <div style="height: 1000px; display: flex; justify-content: center; align-items: center;">
        <p>Extra padding adding for demo</p>
    </div>
    <div style="height: 1000px; display: flex; justify-content: center; align-items: center;">
        <p>Extra padding adding for demo</p>
    </div>
</div>

<script type="text/javascript">
    (function() {
        "use strict";

        var token = "{{ TOKEN }}";
        var domain = "{{ TENANT_HOST }}";
        var objectSpread = Reva.utils.objectSpread;

        document.addEventListener("DOMContentLoaded", function() {
            var btn1 = document.querySelector("#btn1");
            var btn2 = document.querySelector("#btn2");
            var txtUnit = document.querySelector("#txtUnit");
            var appointmentToken = "{token-created-for-tenant}";
            var props = {
                campaignEmail: "leasing.dylan.vanity",
                extraData: {
                    qualificationQuestions: {
                        numBedrooms: [
                            "ONE_BED", "TWO_BEDS"
                        ],
                        groupProfile: "FAIR_MARKET",
                        moveInTime: "NEXT_4_WEEKS",
                        cashAvailable: "YES"
                    }
                },
                domain: domain,
                token: token
            };
            btn1.addEventListener("click", function() {
                Reva.ui.showFormDialogWidget(props);
            });
            btn2.addEventListener("click", function() {
                var unitQualifiedName = (txtUnit.value || "").trim();

                if (!unitQualifiedName) {
                    alert("Please enter a unit qualified name");
                    return;
                }

                Reva.ui.showFormDialogWidget(objectSpread({}, props, {
                    showExtraFields: true,
                    extraData: objectSpread({
                            requestQuote: {
                                unitQualifiedName: unitQualifiedName
                            }
                        },
                        props.extraData
                    )
                }));
            });
            Reva.ui.initBookAppointmentWidget("#widget1", {
                campaignEmail: "leasing.dylan.vanity",
                domain: domain,
                token: token,
                mode: "create",
                appointmentToken: appointmentToken,
                autoLoadStyles: false,
                onEventRaised: function onEventRaised(evt) {
                    return console.log(">>>> event raised", evt);
                },
                dynamicFields: [{
                    name: "numBedrooms",
                    value: undefined,
                    required: "# of bedrooms is required",
                    meta: {
                        type: "Dropdown",
                        label: "# of Bedrooms",
                        items: [{
                            id: "STUDIO",
                            value: "Studio"
                        }, {
                            id: "ONE_BED",
                            value: "One bed"
                        }, {
                            id: "TWO_BEDS",
                            value: "Two beds"
                        }, {
                            id: "THREE_BEDS",
                            value: "Three beds"
                        }, {
                            id: "FOUR_PLUS_BEDS",
                            value: "Four beds"
                        }]
                    }
                }, {
                    name: "moveInDate",
                    value: undefined,
                    required: "moveInDate is required",
                    validators: [
                        "VALID_DATE", "IS_FUTURE_DATE"
                    ],
                    meta: {
                        type: "DateSelector",
                        label: "Move in Date"
                    }
                }, {
                    name: "comments",
                    value: "",
                    required: "Comments are required",
                    meta: {
                        type: "TextArea",
                        label: "Comments"
                    }
                }],
                onAppointmentSave: function onAppointmentSave(appointment) {
                    return Object.assign(appointment, {
                        qualificationQuestions: {
                            numBedrooms: appointment.numBedrooms
                        }
                    });
                }
            });
        });
    })();
</script>
{% endblock %}