{% extends '../layouts/pages.twig' %}
{% block pageContent %}
<div class="contactDescription">
  <h2 class="serifFont blockTitle">Resident login</h2>
  <div id="lipsum">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu augue
      libero. Phasellus suscipit ligula libero, ut varius turpis rhoncus nec.
      Donec blandit tellus risus, et dictum neque dignissim sed. Sed aliquet
      felis quis maximus pulvinar. Aenean at iaculis lacus, id laoreet ligula.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Aliquam commodo, augue sed eleifend vulputate, ex mi
      sagittis magna, quis placerat enim sem quis tellus. Fusce porta
      pellentesque nisl, sed tristique sapien congue sit amet.
    </p>
    <p>
      Donec luctus dui erat, eget pretium metus laoreet et. In dictum fringilla
      maximus. Cras cursus nisl in scelerisque ultricies. Pellentesque efficitur
      facilisis est, eu egestas orci sollicitudin in. Aenean efficitur nibh nec
      iaculis facilisis. Nulla facilisi. Pellentesque a ullamcorper erat.
    </p>
    <p>
      Quisque suscipit dolor vel ligula vehicula, sed interdum tellus egestas.
      Duis sodales nibh sed nulla aliquet finibus. Fusce malesuada ligula sit
      amet sollicitudin imperdiet. Quisque ultricies fermentum aliquam. Morbi
      pharetra efficitur ex sed viverra. Sed velit purus, mattis quis sodales
      eget, volutpat at lacus. Nam eget sollicitudin quam.
    </p>
    <p>
      Vestibulum sit amet tempus dui, sit amet accumsan risus. In condimentum
      malesuada convallis. Nullam vitae laoreet lorem. Integer massa turpis,
      ornare vitae laoreet sed, volutpat id ipsum. Nam ac malesuada dui. Duis
      eget lectus at est laoreet condimentum. Nullam congue congue rutrum. Ut
      consequat ante ut velit iaculis condimentum.
    </p>
    <p>
      Pellentesque id rutrum dui, non fringilla nibh. Vestibulum quis placerat
      ante. Nulla sed dictum massa. Morbi efficitur lacinia mi, sit amet
      condimentum lacus dapibus at. Sed sit amet posuere justo. Aliquam erat
      volutpat. Aenean metus purus, mollis vel lobortis accumsan, luctus et
      velit. Cras at massa vel mauris consequat scelerisque. Praesent maximus
      imperdiet volutpat. In hac habitasse platea dictumst.
    </p>
  </div>
</div>
{% endblock %}
