<div id="btnHamburguer" class="btn-trigger" data-overlay="#hamburguerOverlay">
  <svg width="27" height="18" viewBox="0 0 28 18" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.5 3V0H27.5V3H0.5Z"></path>
    <path d="M0.5 10.5H27.5V7.5H0.5V10.5Z"></path>
    <path d="M0.5 18H27.5V15H0.5V18Z"></path>
  </svg>
</div>
<div id="hamburguerOverlay" class="reva-overlay">
  <div class="rw-slide">
    <button id="btnClose" class="RevaIconButton dark" data-cmd="closeOverlay">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19Z"></path>
      </svg>
    </button>
    {% include './navigation.twig' %}
  </div>
</div>
<script>
  Reva.ui.createMenuOverlay('#btnHamburguer', function (isOpen) {
    return document.querySelector('#header').setAttribute('data-menu-open', isOpen);
  });
</script>