<div class="box">
  <h2 class="homeTitle sectionTitle serifFont">About us</h2>
  <p>We understand the importance of extending a highly professional level
  of service to all of our Residents - service that adds value to their
  lives and turns their apartment into a home</p>
  <div style="margin-top: 40px" data-w="button" data-big="true" data-label="About Tyrell" data-link-to="/about"></div>
</div>