<div class="box">
  <h2 class="homeTitle sectionTitle serifFont">Join us</h2>
  <p>The most succesful business are those that recognize the importance of
  creating an environment that encourages innovative thinking, comradery
  and work-life balance. This is what you can expect as an employee at Tyrell.</p>
  <div style="margin-top: 30px" data-w="button" data-big="true" data-link-to="/about#careers" data-label="Career opportunities"></div>
</div>