<div class="box">
  <h2 class="homeTitle sectionTitle serifFont">For our residents</h2>
  <p style="margin-bottom:50px;">Easily submit a maintenance request or pay rent online.</p>
  <div style="margin-bottom: 20px" data-w="button" data-big="true" data-label="Resident Login" data-link-to="/login"></div>
  <div data-w="button" data-link-to="/residents" data-big="true" data-label="More info" data-type="flat" ></div>
</div>