.field {
  margin-bottom: (20rem/16);

  &.noMargin {
    margin-bottom: 0;
  }

  &.v-align-bottom {
    > .middle-wrapper {
      align-items: flex-end;
    }
  }

  &.v-align-top {
    > .middle-wrapper {
      align-items: flex-start;
    }
  }

  &.v-align-center {
    > .middle-wrapper {
      align-items: center;
    }
  }

  > .middle-wrapper {
    display: flex;
    min-height: (55rem/16);
  }

  > .middleWrapperNoHeight {
    min-height: 0;
  }

  > .middleWrapperLeftMargin {
    margin-left: 1.875em;
  }

  &.flex {
    .field-wrapper {
      display: flex;
    }
  }

  &.inline {
    display: inline-block;
    vertical-align: top;
  }

  &.fullWidth {
    width: 100%;
  }

  &.halfWidth {
    width: 50%;
  }

  &.hoverable {
    &:hover {
      cursor: pointer;
      background: #eee;
    }
  }
}

.field-wrapper {
  display: block;
  width: 100%;
}
