@import '../../../scss/_common.scss';

.PropertyTabs {
  padding: 48px 24px 36px;

  &:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: ' ';
    background: #ddd;
  }

  .button[data-component='button'] {
    margin-right: .5rem;
    margin-bottom: 1rem;

    &[data-role='secondary'] {
      color: rgba(0, 0, 0, .87);
      background: #e0e0e0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &.compact,
  &.small1 {
    position: relative;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
  }

  &.medium {
    padding: 48px 90px 36px;
  }

  &.compact {
    padding-top: 22px;
    padding-bottom: 16px;

    &.medium {
      padding-top: 22px;
      padding-bottom: 16px;
    }
  }
}

.PropertyTab {
  position: relative;
  padding: 20px 6px 14px;
  cursor: pointer;
  text-align: center;

  .labels {
    font-size: 14px;
  }

  &:focus {
    outline: none;

    [data-input-method='keyboard'] & {
      @include focusOutlineProps();
    }
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: ' ';
    transition: opacity .3s linear;
    opacity: 0;
    background: #4864f7;
  }

  &:hover,
  &.selected {
    &:after {
      opacity: 1;
    }
  }
}
