$darkGrey: #343434;
$darkBlue: #4864f7;
$darkGreen: #669b41;
$blue500: #2196f3;
$black: #000;
$caribbeanGreen: #00bfa5;
$lighterGrey: #e6e6e6;
$grey81: #cfcfcf;
$grey92: #ebebeb;
$lightGrey: #aaa;
$grey40: #666;
$grey46: #757575;
$grey50: #fafafa;
$grey62: #9e9e9e;
$grey79: #c9c9c9;
$grey100: #f5f5f5;
$grey200: #eee;
$grey300: #d9d9d9;
$grey400: #d5d5d5;
$white: #fff;
$whiteSmoke: #efefef;
$amber500: #ffc107;
$tealA700: #00bfa5;
$yellow200: #fff59d;
$deepBlue: #013849;
